* {
    box-sizing: border-box;
}

body {
    font-size: 18px;
    margin: 0;
    padding: 0;
}

canvas {
    display: block;
    margin: 0 auto;
}

form {
    position: absolute;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    left: 0;
    right: 0;
    padding: 20px 0;
}

#automatic {
    display: none;
}

.container {
    display: block;
    margin: 20px auto;
    position: relative;
    width: 100%;
}

.container__canvas {

}

.container__canvas__h1 {
    text-align: center;
}

.form__button {
    border: 0;
    border-radius: 35px;
    display: block;
    margin: 20px auto;
    padding: 10px;
    width: 80%;
}

.form__input--group {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 8px 0;
}

.form__input > * {
    vertical-align: middle;
}

.form__span {
    display: inline-block;
    padding: 2px;
    text-align: center;
}

.form__switch {
    position: relative;
    display: inline-block;
    width: 60px; 
    height: 34px;
}

.form__switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.form__switch__input:checked + .form__switch__slider {
    background-color: #2196F3;;
}

.form__switch__input:focus + .form__switch__slider {
    box-shadow: 0 0 1px #2196F3;
}

.form__switch__input:checked + .form__switch__slider:before {
    transform: translateX(26px);
}

.form__switch__slider {
    border-radius: 34px;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

.form__switch__slider:before {
    border-radius: 50%;
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

.wrapper {
    display: block;
    height: 100%;
    margin: auto;
    width: 80%;
}